project_name                    = "clustersage"
environment                     = "dev"
location                        = "eastus"
vnet_address_space              = ["10.44.0.0/16"]
aks_subnet_prefix               = ["10.44.0.0/23"]
private_endpoint_subnet_prefix  = ["10.44.10.0/24"]
management_subnet_prefix        = ["10.44.30.0/24"]
aks_node_count                  = 1
aks_auto_scaling_enabled        = true
aks_min_count                   = 1
aks_max_count                   = 2
aks_vm_size                     = "Standard_D2s_v3"
aks_user_node_pool_enabled      = true
aks_user_node_count             = 1
aks_user_min_count              = 1
aks_user_max_count              = 2
aks_user_vm_size                = "Standard_D2s_v3"
api_server_authorized_ip_ranges = []
postgres_server_name            = "pg-clustersage-dev"
postgres_admin_login            = "clustersageadmin"
postgres_admin_password         = "replace-with-strong-password"
postgres_sku_name               = "GP_Standard_D2s_v3"
postgres_storage_mb             = 32768
postgres_create_replica         = true
postgres_replica_name           = "pg-clustersage-dev-dr"
postgres_replica_location       = "South India"
frontdoor_origin_host_name      = "replace-after-kgateway-load-balancer-is-created"
frontdoor_origin_host_header    = "dev.nexaflow.site"
create_frontdoor                = false
argocd_server_service_type      = "LoadBalancer"
tags = {
  Owner = "platform"
}
