project_name                    = "clustersage"
environment                     = "prod"
location                        = "Central India"
vnet_address_space              = ["10.42.0.0/16"]
aks_subnet_prefix               = ["10.42.0.0/22"]
private_endpoint_subnet_prefix  = ["10.42.10.0/24"]
management_subnet_prefix        = ["10.42.30.0/24"]
aks_node_count                  = 2
aks_auto_scaling_enabled        = true
aks_min_count                   = 1
aks_max_count                   = 2
aks_vm_size                     = "Standard_D2s_v3"
aks_user_node_pool_enabled      = true
aks_user_node_count             = 1
aks_user_min_count              = 1
aks_user_max_count              = 2
aks_user_vm_size                = "Standard_D2s_v3"
api_server_authorized_ip_ranges = []
postgres_server_name            = "pg-clustersage-prod"
postgres_admin_login            = "clustersageadmin"
postgres_admin_password         = "replace-with-strong-password"
postgres_sku_name               = "GP_Standard_D2s_v3"
postgres_storage_mb             = 65536
postgres_create_replica         = true
postgres_replica_name           = "pg-clustersage-prod-dr"
postgres_replica_location       = "South India"
frontdoor_origin_host_name      = "replace-after-kgateway-load-balancer-is-created"
frontdoor_origin_host_header    = "nexaflow.site"
create_frontdoor                = false
frontdoor_custom_domain_names   = ["nexaflow.site", "www.nexaflow.site"]
argocd_server_service_type      = "LoadBalancer"
bootstrap_kgateway             = true
bootstrap_argocd               = true
ai_foundry_enabled             = true
ai_foundry_name                = "oaiclustersageprod"
ai_foundry_location            = "South India"
ai_model_deployment_name       = "gpt-4.1-mini"
ai_model_name                  = "gpt-4.1-mini"
ai_model_version               = "2025-04-14"
ai_model_sku_name              = "Standard"
ai_model_capacity              = 1
ai_foundry_api_version         = "2024-05-01-preview"
ai_prompt_version              = "v1"
ai_store_api_key_in_key_vault  = false
ai_key_vault_secret_name       = "azure-openai-api-key"
ai_local_auth_enabled          = false
ai_public_network_access_enabled = true
tags = {
  Owner = "platform"
}
