project_name          = "clustersage"
location              = "eastus"
attach_dev_origin     = false
attach_staging_origin = false
custom_domain_names   = ["dev.nexaflow.site", "stage.nexaflow.site"]
dev_custom_domain_name = "dev.nexaflow.site"
stage_custom_domain_name = "stage.nexaflow.site"
dev_origin_host_name_override       = "replace-with-dev-kgateway-load-balancer-ip-or-hostname"
dev_origin_host_header_override     = "dev.nexaflow.site"
staging_origin_host_name_override   = ""
staging_origin_host_header_override = "stage.nexaflow.site"
create_document_intelligence = false
create_openai                = false
openai_location              = "eastus"
tags = {
  Owner = "platform"
}
